source https://nuget.org/api/v2

nuget FSharp.Formatting 2.8.0
nuget FSharpVSPowerTools.Core 1.7.0
nuget SharpZipLib
nuget AWSSDK.S3
nuget FAKE
nuget SourceLink.Fake
nuget xunit.runner.console 2.0.0

github fsharp/FAKE modules/Octokit/Octokit.fsx
