<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="resizer" type="ImageResizer.ResizerSection"/>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true">
      <target name="file" xsi:type="File" fileName="log.txt"/>
      <target name="diskcache" xsi:type="File" fileName="${basedir}/Logs/Diskcache.txt" layout="${processid} ${pad:padCharacter= :padding=3:inner=${threadid}} ${time} ${message}"/>
    </targets>
    <rules>
      <logger name="ImageResizer.Plugins.DiskCache" minlevel="Trace" writeTo="diskcache" final="true"/>
      <logger name="*" minlevel="Debug" writeTo="file"/>
    </rules>
  </nlog>
  <resizer>
    <diskcache autoClean="true" subfolders="32" logging="true" asyncWrites="true"/>
    <cleanupStrategy StartupDelay="0" minDelay="1" targetItemsPerFolder="10" MaximumItemsPerFolder="15" ProhibitRemovalIfCreatedWithin="0" ProhibitRemovalIfUsedWithin="0"/>
    <clientcache minutes="1000"/>
    <plugins>
      <!-- So all the sample projects can share the same image folder-->
      <add name="VirtualFolder" virtualPath="~/" physicalPath="..\..\Samples\Images"/>
      <add name="Logging"/>
      <add name="DiskCache"/>
      <add name="SourceMemCache" />
      <add name="WicBuilder" />
    </plugins>
  </resizer>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpModules>
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule"/>
    </httpModules>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule"/>
    </modules>
  </system.webServer>
</configuration>