[submodule "submodules/docu"]
	path = submodules/docu
	url = https://github.com/jagregory/docu.git
[submodule "submodules/libwebp-net"]
	path = submodules/libwebp-net
	url = https://github.com/imazen/libwebp-net
[submodule "submodules/studiojs"]
	path = submodules/studiojs
	url = https://github.com/imazen/studiojs.git
[submodule "submodules/lightresize"]
	path = submodules/lightresize
	url = https://github.com/imazen/lightresize
