bin/
obj/
Debug/
imagecache/
dlls/
samples/*/bin
samples/SimpleWebApplication/bin
samples/ComplexWebApplication/bin
/docs/*/
Tests/*/Results
.DS_Store
Thumbs.db
*.suo
*.user
*.csproj.user
*/_ReSharper
_ReSharper*