bin/
obj/
Debug/
imagecache/
dlls/
/docs/*/
Tests/*/Results
.DS_Store
._*
Thumbs.db
*.suo
*.cache
*.FileAbsoluteList.txt
*.user
*.userprefs
*.csproj.user
*/_ReSharper
_ReSharper*
*App_Data/cair.exe
*App_Data/pthreadVSE2.dll
packages/
NuGet.exe
!NuGet.targets
*.coverage