[submodule "tools/docu"]
	path = tools/docu
	url = https://github.com/jagregory/docu.git
[submodule "StudioJS"]
	path = StudioJS
	url = https://github.com/nathanaeljones/studiojs.git
[submodule "Tools/lightresize"]
	path = Tools/lightresize
	url = https://github.com/imazen/lightresize.git
[submodule "Plugins/Libs/libwebp-net"]
	path = Plugins/Libs/libwebp-net
	url = https://github.com/imazen/libwebp-net
