<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="resizer" type="ImageResizer.ResizerSection,ImageResizer"  requirePermission="false" />
	</configSections>

	<resizer>
		<plugins>
			<!-- <add name="DiskCache" /> -->
			<!-- <add name="PrettyGifs" /> -->
		</plugins>	
	</resizer>


	<system.webServer>
		<modules>
			<!-- This is for IIS7+ Integrated mode -->
			<add name="ImageResizingModule" type="ImageResizer.AsyncInterceptModule"/>
		</modules>
	</system.webServer>
</configuration>