<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="resizer" type="ImageResizer.ResizerSection,ImageResizer"  requirePermission="false" />
	</configSections>

	<resizer>
		<plugins>
			<!-- <add name="DiskCache" /> -->
			<!-- <add name="PrettyGifs" /> -->
		</plugins>	
	</resizer>

	<system.web>
		<httpModules>
			<!-- This is for IIS7 Classic Mode and the Visual Studio Web Server-->
			<add name="ImageResizingModule" type="ImageResizer.InterceptModule"/>
		</httpModules>
	</system.web>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<!-- This is for IIS7+ Integrated mode -->
			<add name="ImageResizingModule" type="ImageResizer.InterceptModule"/>
		</modules>
	</system.webServer>
</configuration>