<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="resizer" type="ImageResizer.ResizerSection,ImageResizer" />
	</configSections>

	<resizer>
		<!-- Unless you (a) use Integrated mode, or (b) map all reqeusts to ASP.NET, 
		     you'll need to add .ashx to your image URLs: image.jpg.ashx?width=200&height=20 -->
		<pipeline fakeExtensions=".ashx" />

		<plugins>
			<!-- <add name="DiskCache" /> -->
			<!-- <add name="PrettyGifs" /> -->
		</plugins>	
	</resizer>

	<system.web>
		<httpModules>
			<!-- This is for IIS5, IIS6, and IIS7 Classic, and Cassini/VS Web Server-->
			<add name="ImageResizingModule" type="ImageResizer.InterceptModule"/>
		</httpModules>
	</system.web>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<!-- This is for IIS7+ Integrated mode -->
			<add name="ImageResizingModule" type="ImageResizer.InterceptModule"/>
		</modules>
	</system.webServer>
</configuration>