@{
    ViewBag.Title = "All Photos";
}

<h2>All photos</h2>

<a href="/photos/upload">Upload photos</a>

<ul class="images">
@foreach (Photo p in Photo.GetAll()) {
    @: <li><img src='/photos/@p.FilePath' alt='@p.OriginalName'/></li>
}
</ul>