<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="imageresizer" restartOnExternalChanges="true" requirePermission="false" type="fbs.ImageResizer.ConfigurationSection,fbs.ImageResizer" />
  </configSections>


  <imageresizer maxWidth="1680" maxHeight="1680"  vppUsage="Fallback|Always|Never">
    <clientcache minutes="0" />
    <diskcache debugMode="true" dir="imagecache" subfolders="0" autoClean="true" maxImagesPerFolder="80000" />
    <rewriting fakeExtension=".ashx" />
    
  </imageresizer>

<system.web>
    <compilation debug="true">

    </compilation>
    <authentication mode="Windows" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>

    <modules>
      <add name="ImageResizingModule" type="fbs.ImageResizer.InterceptModule"/>
      <add name="PrettyGifs" type="fbs.ImageResizer.Plugins.PrettyGifs.plugin"/>
      <add name="AnimatedGifs" type="fbs.ImageResizer.Plugins.AnimatedGifs.plugin"/>
    </modules>
  </system.webServer>

</configuration>
