<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="resizing" restartOnExternalChanges="true" requirePermission="false" type="fbs.ImageResizer.ConfigurationSection,fbs.ImageResizer" />
  </configSections>


  <resizing vppUsage="Fallback|Always|Never">
    <maxsize imageSize="1680x1680" totalSize="2000x2000" imageSizeBehvaior="Shrink|Prevent|Ignore" totalSizeBehavior="Prevent|Ignore" />
    <rewriting fakeExtension=".ashx" />
    <clientcache minutes="0" />
    
    
    <diskcache disable="true" dir="imagecache" subfolders="0" autoClean="true" maxImagesPerFolder="80000" />

    <plugins>
      <add name="DefaultEncoder" args=""/>
      <add name="S3Reader" args="" />
    </plugins>
  </resizing>

  
  
<system.web>
    <compilation debug="true">

    </compilation>
    <authentication mode="Windows" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>

    <modules>
      <add name="ImageResizingModule" type="fbs.ImageResizer.InterceptModule"/>
      <add name="PrettyGifs" type="fbs.ImageResizer.Plugins.PrettyGifs.plugin"/>
      <add name="AnimatedGifs" type="fbs.ImageResizer.Plugins.AnimatedGifs.plugin"/>
    </modules>
  </system.webServer>

</configuration>
