<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="resizer" type="ImageResizer.ResizerSection,ImageResizer" />
  </configSections>


  <resizer xmlns="http://imageresizingin.net/resizer.xsd"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="resizer.xsd">
    <pipeline fakeExtensions=".ashx" vppUsage="Fallback"  />

    <plugins>
      <add name="DefaultEncoder" />
      <add name="S3Reader" />
      <remove name="S3Reader" />
      <clear type="Encoders|ImageBuilderExtensions|Caches|All" />
    </plugins>
    
    <maxsize imageSize="1680x1680" totalSize="2000x2000" imageSizeBehvaior="Shrink|Prevent|Ignore" totalSizeBehavior="Prevent|Ignore" />

    <clientcache minutes="0" />

    <diskcache enable="true" dir="imagecache" subfolders="0" autoClean="true" maxImagesPerFolder="80000" />

    
  </resizer>

  
  
<system.web>
    <compilation debug="true">

    </compilation>
    <authentication mode="Windows" />
  <httpModules>
    <add name="ImageResizingModule" type="ImageResizer.InterceptModule"/>
  </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>

    <modules>
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule"/>
    </modules>
  </system.webServer>

</configuration>
