<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="resizer" type="ImageResizer.ResizerSection, ImageResizer" />
  </configSections>
  <resizer>
    <!-- Unless you (a) use Integrated mode, or (b) map all requests to ASP.NET, 
              you'll need to add .ashx to your image URLs: image.jpg.ashx?width=200&height=20 -->
    <pipeline fakeExtensions=".ashx" />

    <plugins>
      <add name="VirtualFolder" virtualPath="~/" physicalPath="..\..\..\Samples\Images\"  />
      <add name="PdfRenderer" downloadNativeDependencies="true" />
    </plugins>
  </resizer>
  <system.web>
    <httpModules>
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule"/>
    </httpModules>
    <compilation debug="true" />
    <customErrors mode="Off"/>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>
