<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="resizer" type="ImageResizer.ResizerSection,ImageResizer" requirePermission="false" />
  </configSections>
  <resizer>
    <licenses>
      <auto appId="2b052ab5-17e5-40df-9133-7382481f69ad" />
      <licensingUrl>http://keyhub.lucrasoft-staging.nl/GetLicenses</licensingUrl>
      <publicKeyXml>
        <RSAKeyValue>
          <Modulus>
            5ZDHZe0r2oVwEUx5OnKjjT99RWmebgws1HhOOI6YiMRJ4QiIDgmMZy9O7I9RfdxcZ0xkFhMXSGzF4wJVIeNtnWwOm2/cu/wZntyB8wSrPinOArTjQoGNIHsVzCjtd+XwPIqEm/e0dybdK4UAFm3NskPGFUNmHrx2P8va/9vWHtnhlASy5PncGZKZBlnTuZ8DSBFS7ZwIstShvRri92hTbpo/f0oMqCVGJjo1kZGHSoUFXtGsKtKg9ubVDyXsLutgvzo8XgeS9s9LdOxR0WZNYZkO2E45wwKf10W3EgDlex+gxjfAuVnCHnVwJ4UEIhf5HG2qU6OcuCX/5ZYBDaDhjQ==
          </Modulus>
          <Exponent>AQAB</Exponent>
        </RSAKeyValue>
      </publicKeyXml>
      <verificationInterval>0,0,5</verificationInterval>
      <licenseCacheFilePattern>~/App_Data/keyhub-licenses-{0}.xml</licenseCacheFilePattern>
    </licenses>
  </resizer>
</configuration>