/Gallio.XmlSerializers.dll
/Gallio.dll
/Gallio.pdb
/Gallio.xml
/Gallio35.dll
/Gallio35.pdb
/Gallio35.xml
/ImageResizer.Core.Tests.dll
/ImageResizer.Core.Tests.pdb
/ImageResizer.dll
/ImageResizer.pdb
/ImageResizer.xml
/LibCassini35.dll
/LibCassini35.pdb
/MbUnit.dll
/MbUnit.pdb
/MbUnit.xml
/MbUnit35.dll
/MbUnit35.pdb
/MbUnit35.xml
/NHamcrest.dll
/NHamcrest.pdb
/*
