<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections> 
    <section name="resizer" type="ImageResizer.ResizerSection" requirePermission="false"/>
  </configSections>
  <resizer>
    <diskcache enabled="true" />
    <remotereader signingKey="ag383ht23sag#laf#lafF#oyfafqewt;2t w	eyfwfefwqefqw" allowAllSignedRequests="true" />
    <clientcache minutes="1000" />
    <presets>
      <preset name="thumb-defs" defaults="maxwidth=100;maxheight=100" />
      <preset name="thumb" settings="maxwidth=100;maxheight=100" />
    </presets>
    <plugins>
      <!-- So all the sample projects can share the same image folder-->
      <add name="VirtualFolder" virtualPath="~/" physicalPath="..\..\Samples\Images"/>
      <add name="VirtualFolder" virtualPath="~/" physicalPath="subfolder"/>
      <add name="DiskCache" />
      <add name="Image404" />
      <add name="AnimatedGifs" />
      <add name="Gradient" />
      <add name="SimpleFilters" />
      <add name="RemoteReader" />
      <add name="CloudFront" />
      <add name="SeamCarving" />
      <add name="FolderResizeSyntax" />
      <add name="ImageHandlerSyntax" />
      <add name="Watermark" />
      <add name="SpeedOrQuality" />
      <add name="AutoRotate" />
      <add name="Presets" />
     
      <remove name="SizeLimiting" />
    </plugins>
    <watermarks>
      <text name="filltext" text="#{text}" align="middlecenter" color="black" fill="true" font="Courier New" />
    </watermarks>
  </resizer>
  <system.web>
    <compilation debug="true"/>
    <trust level="Medium" />
    <httpModules>
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule"/>
    </modules>
  </system.webServer>
</configuration>
