<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MongoReader.ConnectionString.Empty" connectionString=""/>
    <add name="MongoReader.ConnectionString.Name" connectionString="mongodb://server/database?from=connectionString"/>
  </connectionStrings>
  <appSettings>
    <add key="MongoReader.ConnectionString.Key" value="mongodb://server/database?from=appSetting"/>
  </appSettings>
</configuration>